@import "vendor/normalize";

/* Settings */
$white: #fff;
$black: #000;
$font-color: #333;
$grey: #bcbcbc;
$blue: #0b97c4;
$action-bar-color: #f1eeee;

$font-family: 'Roboto', sans-serif;
/* Settings */

/* Commons */
h3 {
  margin: 0;
}

input,
textarea {
  display: block;
  margin: 10px 0;
  padding: 8px;
  border-radius: 0;
  border: 1px solid $grey;
  width: auto;
  height: auto;

  &:focus {
    border: 1px solid $blue;
    outline: none;
  }
}

textarea {
  resize: none;
}

select {
  border-radius: 0;
  border: 1px solid $grey;
  padding: 10px;
  background: $white;

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $black;
  }
}

.hidden {
  display: none!important;
}

.visible {
  display: block;
}

.error {
  border: 1px solid red;
  background: #ff9185;
}

.bold {
  font-weight: 600;
}


ul {
  list-style-type: none;
}

button {
  width: 130px;
  height: 40px;
  border: 0;
  color: $white;
  font-weight: 600;
  cursor: pointer;

  .btn-label {
    position: relative;
    top: 9px;
  }
}

// Sprite svg
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../images/sprite.svg');
  width: 33px;
  height: 33px;
  float: left;
  background-size: 530px 40px;
  background-position-y: -4px;

  &.icon-file-text2 {
    background-position-x: 0;
  }
  &.icon-printer {
    background-position-x: -30px;
  }
  &.icon-earth {
    background-position-x: -96px;
  }
  &.icon-plus {
    background-position-x: -130px;
  }
  &.icon-upload {
    background-position-x: -62px;
  }
}
/* Commons */

.estimate {
  background: $white;
  font-family: $font-family;
  color: $font-color;
  max-width: 1000px;
  min-width: 940px;
  border: 1px solid #cec6c6;
  margin: 20px auto;
  margin-bottom: 110px;
  padding: 20px;
  padding-top: 0;
  min-height: 800px;
  box-shadow: 0 0 3px $grey;

  &__title {
    margin-bottom: 25px;

    h2 {
      border-bottom: 1px solid $grey;
    }
  }
  &__company {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 240px;

    &__logo {
      outline: 2px dashed #92b0b3;
      outline-offset: -10px;
      -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
      transition: outline-offset .15s ease-in-out, background-color .15s linear;
      margin: 25px 90px 60px 45px;
      position: relative;

      &.x-canvas-visible {
        outline: none;

        input,
        label {
          display: none;
        }
        canvas {
          position: relative;
          top: 35px;
          left: 55px;
        }
      }
      input {
        display: block;
        position: absolute;
        left: 35px;
        top: 50px;
        z-index: -5;
      }
      label {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 72px;
        text-align: center;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__references {
      text-align: right;

      label {
        display: block;
      }
      textarea {
        margin-top: 0;
        height: 19px;
      }
      input,
      textarea {
        width: 60%;
        float: right;
        margin: 5px 0;
      }
    }
  }
  &__data {
    display: inline-block;
    width: 100%;

    &__date,
    &__discount {
      display: inline-block;
    }
    &__discount {

    }
    &__notes {
      float: right;
      width: 500px;

      textarea {
        width: 478px;
        height: 65px;
      }
    }
  }
  &__main {
    min-height: 380px;
    position: relative;
    margin-top: 30px;

    .estimate__wrapper__table {
      min-height: 345px;
      max-height: 345px;
      border-bottom: 1px solid $grey;
    }
    &__table {
      width: 100%;

      thead {
        background: $blue;
        color: $white;
        font-weight: 600;

        td {
          padding: 10px 0px 10px 3px;
        }
      }
      &__row {
        height: 0;

        &__cell {
          vertical-align: top;

          input,
          select {
            position: relative;
            margin: 0;
          }
          textarea {
            width: 95%;
            margin: 0;
            resize: vertical;
            min-height: 23px;
            max-height: 60px;
            height: 5px;
          }
          input {
            min-width: 0;
            height: 23px;
            width: 89%;
            text-align: right;
          }
          select {
            width: 100%;
          }
          &.small {
            width: 150px;
          }
        }
      }
    }
  }
  &__footer {
    text-align: right;

    &__results {
      width: 450px;
      text-align: left;
      display: inline-block;

      li {
        border-bottom: 1px solid $grey;
        padding: 4px 0;

        &:last-child {
          border-bottom: 0;
        }
        .value {
          float: right;
        }
      }
    }
  }
}

.actions {
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 53px;
  background: $action-bar-color;
  border-top: 1px solid $grey;

  button {
    margin: 0 8px;
    position: relative;
    top: 7px;
  }
  &__pdf {
    width: 90px;
    background: #ea6a68;
  }
  &__print {
    width: 90px;
    background: #f3bf5f;
  }
  &__language {
    width: 130px;
    background: $blue;
  }
  &__add {
    width: auto;
    background: $blue;
  }
  &__tooltip {
    position: relative;
    display: none;

    &.visible {
      display: block;
    }
    &__en,
    &__it {
      width: 120px;
      background-color: black;
      color: $white;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
    }
    &__en {
      top: -80px;
    }
    &__it {
      top: -50px;
    }
  }
}
