@import "vendor/normalize";

// Colors
$white: #fff;
$black: #000;
$font-color: #333;
$grey: #bcbcbc;
$blue: #0b97c4;
$action-bar-color: #f1eeee;

button {
  display: none;
}

input,
textarea,
select {
  border: 0;
}

select {
  -webkit-appearance: none;
}

textarea {
  resize: none!important;
  height: 60px!important;
}

.error,
.logo-image-input,
.actions,
.estimate__header__title {
  display: none!important;
}

.estimate {
  border: 0;
  background: $white;

  &__title {
    display: none;
  }
  &__data {
    &__discount {
      span {
        top: 27px;
      }
    }
  }
  &__company {
    padding-top: 20px;

    .x-canvas-visible {
      canvas {
        top: 10px;
        left: 10px;
        width: 240px;
      }
    }
    &__references {
      padding-top: 35px;

      .website,
      .email,
      .telephone,
      .address {
        font-size: 14px;
        position: relative;
        top: -7px;
        margin: 4px 0;
        text-align: right;
        padding: 3px;
        color: #999;
        width: 100%;
      }
      label {
        display: none;
      }
    }
  }
  &__main {
    min-height: 420px;

    .estimate__wrapper__table {
      border: 1px solid $grey;
      max-height: none;
      margin-bottom: 35px;

      tbody {
        td {
          border-right: 1px solid $grey;

          &:last-child {
            border-right: 0;
          }
        }
      }
    }
  }
}

.estimate__footer__result__description {
  height: 31px;
}
