@import "vendor/normalize";
@import "font";
@import "mixin";
@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Settings */
$white: #fff;
$black: #000;
$font-color: #333;
$grey: #ced4da;
$blue: #0b97c4;
$blue-hover: #037297;
$page-background: #f6f7f7;
$grey-medium: #a6aaaf;

$font-family: "Roboto", sans-serif;
/* End Settings */
