@import "common_style";

body {
	@include rem(font-size, 15px);
}

.clearfix {
	@include clearfix();
}

h3 {
	margin: 0;
}

input:not(.table-field),
textarea:not(.table-field) {
	display: block;
	width: auto;
	padding: 0.375rem 0.75rem;
	line-height: 1.5;
	color: #495057;
	background: $white;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	@include rem(font-size, 15px);
	@include border-radius(5px);

	&:focus {
		color: #495057;
		background: $white;
		border-color: #80bdff;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	}
}

.remove-wrapper {
	cursor: pointer;
	padding-left: 10px;
}

label {
	display: inline-block;
	margin-bottom: 0.5rem;
}

textarea {
	resize: none;
}

select {
	border-radius: 0;
	border: 1px solid $grey;
	padding: 10px;
	background: $white;
	cursor: pointer;
	@include rem(font-size, 14px);
}

.hidden {
	display: none !important;
}

.visible {
	display: block;
}

.error {
	border: 1px solid red !important;
	background-color: #ff9185 !important;
}

.bold {
	font-weight: 600;
}

.wrapper-fluid {
	width: 100%;
}

ul {
	list-style-type: none;
}

button {
	display: inline-block;
	font-weight: 400;
	color: $white;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	@include rem(font-size, 15px);

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
	}
}

.estimate {
	background: $page-background;
	font-family: $font-family;
	color: $font-color;
	max-width: 1050px;
	min-width: 940px;
	border: 1px solid #cec6c6;
	margin: 20px auto;
	margin-bottom: 110px;
	padding: 20px;
	padding-top: 0;
	min-height: 800px;
	box-shadow: 0 0 3px $grey;

	&__title {
		margin-bottom: 25px;

		h2 {
			border-bottom: 1px solid $grey;
		}
	}
	&__company {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 240px;

		&__logo {
			outline: 2px dashed #92b0b3;
			outline-offset: -10px;
			-webkit-transition: outline-offset 0.15s ease-in-out,
				background-color 0.15s linear;
			transition: outline-offset 0.15s ease-in-out,
				background-color 0.15s linear;
			margin: 25px 90px 60px 45px;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			canvas {
				max-width: 200px;
				max-height: 80px;
			}

			.x-logo-error {
				color: red;
				font-weight: 600;
				position: absolute;
				bottom: 20px;
			}
			input {
				display: block;
				position: absolute;
				top: 40px;
				z-index: -5;
			}
			label {
				display: block;
				font-weight: 600;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}
			span {
				@include rem(font-size, 14px);
			}
		}
		&__references {
			text-align: right;

			label {
				display: block;
			}
			textarea {
				margin-top: 0;
				height: 19px;
				@include transition(height 0.1s linear);

				&.expand {
					height: 50px;
				}
			}
			input,
			textarea {
				width: 60%;
				float: right;
				margin: 5px 0;
				@include rem(font-size, 13px);
			}
		}
	}
	&__data {
		display: inline-block;
		width: 100%;

		&__date,
		&__discount,
		&__vat {
			display: inline-block;
		}
		.datepicker {
			width: 120px;
			margin-right: 15px;
		}
		&__discount,
		&__vat {
			position: relative;

			input {
				text-align: right;
				width: 70px;
				padding-right: 30px;
				margin-right: 15px;
			}
			span {
				position: absolute;
				top: 37px;
				right: 25px;
			}
		}
		&__notes {
			float: right;
			width: 500px;

			textarea {
				width: 478px;
				height: 65px;
			}
		}
	}
	&__table {
		min-height: 380px;
		position: relative;
		margin-top: 30px;
		border-bottom: 1px solid $grey;

		table {
			width: 100%;
			margin-bottom: 20px;
		}
		th {
			background: $blue;
			color: $white;
			font-weight: 600;

			td {
				padding: 10px 0px 10px 10px;
			}
		}

		.row {
			height: 0;

			.icon-minus {
				position: relative;
				top: 13px;
				left: 8px;
				border-radius: 50%;
				border: 1px solid;
				padding: 5px;
				color: red;
				font-size: 10px;
				cursor: pointer;
			}
		}
		.col {
			vertical-align: top;

			input,
			select {
				position: relative;
				margin: 0;
			}
			textarea {
				width: 100%;
				box-sizing: border-box;
				margin: 0;
				resize: vertical;
				min-height: 45px;
				max-height: 60px;
				height: 45px;
				padding: 6px;
				border: 1px solid $grey;
			}
			input {
				height: 45px;
				width: 100%;
				box-sizing: border-box;
				text-align: right;
				padding: 6px;
				border: 1px solid $grey;
				@include border-radius(0);
			}
			select {
				width: 100%;
				height: 45px;
				padding: 0 0 0 10px;
			}
			&.small {
				width: 150px;
				position: relative;

				.select-icon {
					position: absolute;
					right: 7px;
					top: 15px;
					z-index: 1;
				}
				&.amount-col {
					.amount-euro {
						position: absolute;
						right: 12px;
						top: 13px;
						z-index: 1;
						display: none;

						&::after {
							content: "€";
						}
					}
					&.x-value {
						input {
							width: 100%;
							padding-right: 25px;
						}
						.amount-euro {
							display: block;
						}
					}
				}
			}
		}
	}
	&__footer {
		text-align: right;
		margin-top: 20px;

		&__total,
		&__subtotal {
			&__description {
				display: inline-block;
				border: 1px solid $grey;
				padding: 10px;
				width: 257px;
				border-right: 0;
				height: 36px;

				h4 {
					margin: 0;
				}
				span {
					@include rem(font-size, 13px);
				}
			}
			&__value {
				float: right;
				border: 1px solid $grey;
				text-align: right;
				padding: 10px;
				width: 150px;
				background: $white;
				@include rem(font-size, 28px);
			}
		}
		&__subtotal {
			margin-bottom: 10px;

			&__description {
				height: 26px;
				width: 120px;

				h5 {
					margin: 0;
				}
			}
			&__value {
				@include rem(font-size, 20px);
			}
		}
	}
}

.actions {
	font-family: $font-family;
	padding: 10px 0;
	text-align: center;
	position: fixed;
	bottom: 0;
	height: 65px;
	background: $page-background;
	border-top: 1px solid $grey;
	z-index: 2;

	.wrapper {
		width: 1000px;
		display: grid;
		grid-template-columns: 37% 35% 30%;
		grid-template-rows: 65px;
		margin: 0 auto;
	}
	&__estimate {
		button {
			margin: 0 8px;
			position: relative;
			top: 7px;
		}
		&__print {
			background: #f3bf5f;

			&:hover {
				background: #eca115;
			}
		}
		&__add {
			background: $blue;

			&:hover {
				background: $blue-hover;
			}
		}
		&__preview {
			background: #6ed37b;
		}
		&__tooltip {
			position: relative;
			display: none;

			&.visible {
				display: block;
			}
			&__en,
			&__it {
				width: 120px;
				background-color: black;
				color: $white;
				text-align: center;
				padding: 5px 0;
				border-radius: 6px;
				position: absolute;
				z-index: 1;
			}
			&__en {
				top: -80px;
			}
			&__it {
				top: -50px;
			}
		}
	}
	&__version {
		float: right;
		margin-top: 20px;
	}
	&__github {
		display: inline-block;

		span {
			margin-right: 10px;
			display: inline-block;
			@include rem(font-size, 13px);
			@include rem(line-height, 20px);
		}
	}
}

// Preview mode
.x-preview {
	/* Specific style for preview mode */
	.estimate {
		margin-bottom: 110px !important;
	}
	.actions {
		display: block !important;
	}
	/* End specific style */

	@import "print.scss";
}

// Style for tablet
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	@import "tablet";
}

@media print {
	@import "print";
}
